/*Style in body*/
body {
    font-family: Ledger;
}

/*Style for p and ol in section1*/

p, ol {
    font-size: 20px;
}

/*Style .jumbotron in section1*/
.jumbotron {
    text-align: center;
    background-image: url("../img/pingpong.jpeg"); 
    height: 200px;
}
/*Styele h1 in section2*/
h1 {
    font-size: 40px;
    text-align: center;
}

/*Style .replacement in section2*/
.replacement {
    font-size: 30px;
}
/*Animate .replacement in section1 and h1 in ssection2*/
.replacement, .section2 > h1  {
  color: #922B21;
  position: relative;
  /* Chrome and Safari*/
  -webkit-animation-name: replacement -animation;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  /*Firefox*/
  -moz-animation-name: replacement-animation;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  /*Opera*/
  -o-animation-name: replacement-animation;
  -o-animation-duration: 4s;
  -o-animation-iteration-count: infinite;
  animation-name: replacement-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


/*Chrome and Safari*/

@-webkit-keyframes replacement-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}


/*Fifefox*/

@-moz-keyframes replacement-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}


/*Opera*/

@-o-keyframes replacement-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}

/*Style in section3*/
form {
    font-size: 25px;
    text-align: center;
}


/*Style in section4*/
.section4 {
    font-size: 25px;
    height: 50px;
}

#result {
    height: 500px;
    overflow: auto;
    list-style-type: none;
    text-align: center;
}

