/*Style in section1*/


/*Style in section2*/


/*Style in section3*/ 

 /*Style user input in section3*/
/*#userNumber {
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    font-size: 15px;
    color: white;
}*/

/*Style PingPong button in section3*/
/*#pingpongButton {
    width: 235px;
    margin-left: 15px;
    background-color: #F15A29;
    display: inline-block;
}*/


/*Style in section4*/

